# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.env
.env/
venv/
env/
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Docker
*.log
docker-compose.override.yml
.env

# Logs and databases
*.log
*.sqlite3

# Others
*.swp